nuxeo-onlyoffice-core/src/main/resources/schema/onlyoffice.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/orbeon/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/schemas/onlyoffice/">

  <xs:element name="app" type="xs:string" />
  <xs:element name="formName" type="xs:string" />
  <xs:element name="formId" type="xs:string" />

</xs:schema>
